<div class="container-fluid">
  <div class="row">
    <div id="izquierda" class="col-md-1">
        <p style="transform: rotate(-90deg); margin-top:130px;">
          <img src="../../../assets/facebook.png" alt=""> Facebook</p>
    </div>

    <div id="derecha" class="col-md-11">

      <div class="row" style="min-height:50vh;">
        <div class="col-md-12">
          <nav class="navbar navbar-toggleable-md fixed-top" style="background-color:rgba(0, 0, 0, 0.77);">
            <button  class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span  class="navbar-toggler-icon" style="color:white;"></span>
            </button>
            <a class="navbar-brand"  routerLink="/" style="color:whitesmoke">
              <img src="../../../assets/mecanico.png" alt=""> Repuestos Cartagena</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li  class="nav-item active">
                  <a class="nav-link" href="#">Inicio <span  class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>

            </div>
          </nav>
        </div>
      </div>

      <div class="row" style="min-height:50vh;">
        <div class="col-md-6">
          <button class="btn btn-default align-middle"
          routerLink="/categories">Categories</button>
        </div>
      </div>

    </div>
  </div>
</div>
